@using MHMoviesBlazorClient.Components.Pagination

<div id="but-sel-cont">
    <p id="but-sel-text">How many buttons?</p>
    <input type="number" min="1" max="8" @bind="_buttonsCount" style="width: 48px;height: 32px;"/>
</div>

<div id="header-cont" class="list-lout">
    <p>Id</p>
    <p>Title</p>
    <p>Length</p>
    <p>Popularity</p>
</div>
<div id="list-cont">
    <Virtualize Context="movie" 
                Items="@PaginatedFetch.CachedMovies"
                ItemSize="64">
        <ItemContent>
            <div id="item-cont" class="list-lout">
                <p>@movie.Id</p>
                <p>@movie.Title</p>
                <p>@movie.Length</p>
                <p>@movie.Popularity</p>
            </div>
        </ItemContent>
    </Virtualize>
</div>
<br/>
<PaginationNavigationBar 
    PageCount="PaginatedFetch.PageCount()"
    ButtonsCount="@_buttonsCount"
    PageRequestHandler="async pageNumber => await PaginatedFetch.Fetch(pageNumber)"/>
<br/>