@using MHMoviesBlazorClient.Components.Pagination

<div id="header-cont" class="list-lout">
    <p>Id</p>
    <p>Title</p>
    <p>Length</p>
    <p>Popularity</p>
</div>
<div id="list-cont">
    <Virtualize Context="movie" 
                Items="@PaginatedFetch.CachedMovies"
                ItemSize="64">
        <ItemContent>
            <div id="item-cont" class="list-lout">
                <p>@movie.Id</p>
                <p>@movie.Title</p>
                <p>@movie.Length</p>
                <p>@movie.Popularity</p>
            </div>
        </ItemContent>
    </Virtualize>
</div>
<br/>
<PaginationNavigationBar 
    PageCount="PaginatedFetch.PageCount()"
    PageRequestHandler="async pageNumber => await PaginatedFetch.Fetch(pageNumber)"/>
<br/>